body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img.jpg);
    background-size: 200px;
    background-repeat: repeat;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border: 3px solid rgba(36, 3, 3, 0);
    position: static;
}

td.pixel {
    width: 4px;
    height: 3px;
    border: 0;
}
